#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

export PS1='\u {{ "#" if is_root else "$"}} '
export EDITOR=emacs
export PAGER=less
export GIT_EDITOR='emacs -nw'
# localization
export LANG=en_US.UTF-8
export MM_CHARSET=UTF-8

# add default system key to ssh agent
# if [[ $(pgrep ssh-agent) ]]; then
#     (ssh-add -l > /dev/null) || ssh-add ~/.ssh/id_rsa
# fi

alias ls='ls -G'
alias e='/usr/bin/env emacs -nw'

alias cconf='cd /home/slackz/repos/sysconfig'
alias be='bundle exec'
alias ga='git add'
alias gs='git status'
alias g='git'
alias gca='git commit -a'
alias gb='git branch'
alias gba='git branch -a'
alias gl='git pull'
alias gcl='git clone'
alias gc='git commit'
alias music='ncmpc -c'
alias web='lynx https://duckduckgo.com/lite'

# completion stuff
. /usr/local/share/bash-completion/bash_completion.sh
. /usr/local/etc/bash_completion.d/git.sh
# make sure shorthand alias works nicely with commands #lazy
__git_complete g __git_main

eval "$(direnv hook bash)"

