ext_if="{{ ext_if }}"
local_cidr="{{ local_cidr }}"

set skip on lo0
block drop all

pass out all modulate state

pass in inet proto tcp to $ext_if port 22
pass in inet proto tcp from $local_cidr to $ext_if port 6600
